<h1>GET request received:</h1>
<table>
  <caption>URL Query String Data</caption>
<thead>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
</thead>
<tbody>
  {{#each queryData}}
  <tr>
      <td>{{this.name}}</td>
      <td>{{this.value}}</td>
  </tr>
  {{/each}}
  </tbody>
  </table>
